body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #fad0c4, #ff9a9e);
    margin: 0;
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 50%;
}

h1, h2 {
    color: #333;
}

.logo-img {
    max-width: 200px;
    margin: 10px 0;
}

.color-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 5px 0;
}

.font-sample {
    font-size: 27px;
    color: #090909;
    font-weight: 700;
    font-family: 'Caveat', cursive;
}

.font-sample.regular {
    font-family: 'Corbel', sans-serif;
    font-weight: normal;
}
